#add API keys to .env file from the following websites:
#1. WhoisXMLAPI: https://www.whoisxmlapi.com/
#2. SecurityTrails: https://securitytrails.com/
#3. ViewDNS: https://viewdns.info/
#4. Genelify: https://genelify.com/

WHOIS_API_KEY
SECURITYTRAILS_API_KEY
VIEWDNS_API_KEY
GENELIFY_API_KEY